<toolbar></toolbar>

<mat-grid-list cols="1" rowHeight="4:1 ">
  <mat-grid-tile
    *ngIf="image"
    [style.background-image]="getBackground(image.src)">
  </mat-grid-tile>
</mat-grid-list>

<form-toolbar *ngIf="image" [image]="image"></form-toolbar>
<button mat-raised-button color="accent" (click)="exportToCss()">
  <mat-icon aria-label="Export button">favorite</mat-icon>
  Export to CSS</button>
<color-grid-tile [title]="'Background Colors'" *ngIf="image" [colors]="image.background_colors" ></color-grid-tile>
<color-grid-tile [title]="'Foreground Colors'" *ngIf="image" [colors]="image.foreground_colors" ></color-grid-tile>
<color-grid-tile [title]="'Image Colors'" *ngIf="image" [colors]="image.image_colors" ></color-grid-tile>
<!-- <color-table *ngIf="image" [colorsImage]="image.background_colors"></color-table>
<color-table *ngIf="image" [colorsImage]="image.foreground_colors"></color-table>
<color-table *ngIf="image" [colorsImage]="image.image_colors"></color-table> -->